*{
    margin: 0;
}

.container{
    width: 70vw;
    height: 50vh;
    position: absolute;
    background-color: pink;
    display: flex;
    align-items: end;
}

.ball{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    background-color: rgb(49, 109, 197);
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /* animation: bouncy 1s cubic-bezier(0.39, 0.58, 0.57, 1) infinite alternate; */
    /* animation-fill-mode: ; */
    animation: bouncex 3s linear infinite, bouncey 1s ease-out infinite alternate;
    /* bouncex 3s linear infinite */
    /* bouncey 3s ease-out infinite alternate */
}

@keyframes bouncex{
    from{
        /* transform: translateX(200px) translateY(-100px) */
        left: 0;
    }
    to{
        left: 60%;
        /* transform: scaleX(100%); */
        /* transform: translateX(200px) translateY(-100px); */
        /* transform: translateX(-200px) translateY(100px); */
    }
}

@keyframes bouncey{
    from{
        bottom: 0;
    }
    to{
        bottom: 50%;
    }
}

