.card-holder{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px;
    /* background-color: gray; */
    /* border: 1px solid red; */
}

.text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    /* align-items: center; */
    color: black;
}

.image{
    width: 60px;
    height: 40px;
    position: relative;
}

.capsule{
    position: absolute;
    font-size: 6px;
    background-color: rgba(19, 19, 19, 0.827);
    color: white;
    padding: 1.5px;
    border-radius: 2px;
    bottom: 1px;
    right: 1px;
}

img{
    width: 60px;
    height: 40px;
    
}

h3{
    margin: 0;
}

p{
    margin: 0;
    font-size: 12px;
    color: rgb(84, 84, 84);
}